.toast {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 20px;
    -fx-alignment: bottom-right;
    -fx-border-width: 1;
}

.success {
    -fx-border-color: #ADE25D;
    -fx-background-color: #eefce1;
}

.success > * {
    -fx-fill: #3d5420;
}

.info {
    -fx-border-color: #569ec8;
    -fx-background-color: #dcefff;
}

.info > * {
    -fx-fill: #2e516b;
}

.error {
    -fx-background-color: #ffebe2;
    -fx-border-color: #FF8C42;
}

.error > * {
    -fx-fill: #753e1d;
}
